<p style="color: green"><%= notice %></p>

<%= render @product %>

<div>
  <button type="button" class="btn btn-primary" ><%= link_to "Edit this product", edit_product_path(@product), style: "color: white !important" %></button> |
  <td><button type="button" class="btn btn-primary" ><%= link_to "Back to products", products_path, style: "color: white !important" %></button></td>

  <button type="button" class="btn btn-primary" ><%= button_to "Destroy this product", @product, method: :delete, style: "color: white !important", class: "btn btn-primary" %></button>
</div>
